sudo: required
services:
  - docker

before_install:
  - docker build -t vokrobodo/react-test -f ./client/Dockerfile ./client

script:
  - docker run -e CI=true vokrobodo/react-test npm test -- --coverage

after_success:
  - docker build -t vokrobodo/multi-client ./client
  - docker build -t vokrobodo/multi-nginx ./nginx
  - docker build -t vokrobodo/multi-server ./server
  - docker build -t vokrobodo/multi-worker ./worker
  # Login to the docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take images and push to dockerhub
  - docker build vokrobodo/multi-client
  - docker build vokrobodo/multi-nginx
  - docker build vokrobodo/multi-server
  - docker build vokrobodo/multi-worker
